---
layout: layout.njk
permalink: "posts/iv-razred/index.html"
---

{% set category = "iv-razred" %}

<h2>IV razred</h2>

<div class="cards">
{% for post in collections.posts %}
  {% if post.data.category == category %}
    <article class="card">
      <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      <p>{{ post.date | formatDate }}</p>
    </article>
  {% endif %}
{% endfor %}
</div>